.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 78px;
  background: #11101d;
  padding: 6px 14px;
  transition: all 0.5s ease;
}

.sidebar.active {
  width: 240px;
}

/* Home Styling */

.home_content {
  position: absolute;
  height: 100%;
  width: calc(100% - 78px);
  left: 78px;
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.sidebar.active ~ .home_content {
  width: calc(100% - 240px);
  left: 240px;
  overflow-y: scroll;
}

/* Paper content */

.papers {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.paper {
  margin: 10px 10px;
  width: 400px;
  height: 230px;
}

/* Paper styling */

.userDetails,
.academics__details {
  padding: 10px;
  display: flex;
  height: 100%;
}

.leftPanel {
  flex: 70%;
}

.rightPanel {
  flex: 30%;
}

.userQuote {
  margin-top: 50px;
  text-overflow: ellipsis;
}

.academic__semester {
  display: flex;
  align-items: center;
}

.academic__semester__number {
  font-weight: 500;
  margin-left: 12px;
}
