.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 78px;
  background: #11101d;
  padding: 6px 14px;
  transition: all 0.5s ease;
  z-index: 100;
}

.sidebar.active {
  width: 240px;
}

/* Home Styling */

.home_content {
  position: absolute;
  /* height: 100vh; */
  /* background: url("../assets/images/jumbotron.jpg"); */
  width: calc(100% - 78px);
  left: 78px;
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* z-index: -1; */
  overflow-y: scroll;
}

.sidebar.active ~ .home_content {
  width: calc(100% - 240px);
  left: 240px;
  overflow-y: scroll;
}

/* Paper content */

.papers {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.card {
  height: 260px;
  width: 410px;
  border-radius: 20px;
  background: rgba(253, 32, 32, 0.1);
  backdrop-filter: blur(35px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.25);
  padding: 30px 30px 30px 30px;
  overflow: hidden;
  margin: 9px;
  z-index: -1;
  transition: all 0.4s ease;
}

/* Glassmorphism Styling ends here */

/* Cards Styling starts here */
.user__section,
.academics {
  display: flex;
}

.left__panel {
  flex: 70%;
}
.user__details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.user__motivation {
  margin-top: 30px;
}

.user__motivation__desc {
  font-size: 14px;
}

.right__panel {
  flex: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* Cards styling ends here */
