.home_content {
  position: absolute;
  height: 100%;
  width: calc(100% - 240px);
  left: 78px;
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #e0e2e7;
  z-index: 1;
}

.newsfeeds {
  position: absolute;
  width: calc(100% - 70px);
  top: 30px;
  left: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
